@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* Option 6B: Light Theme */
:root {
  /* Primary */
  --color-primary: hsl(190, 90%, 50%);
  --color-primary-foreground: hsl(190, 90%, 10%);

  /* Backgrounds */
  --color-bg: hsl(190, 40%, 97%); 
  --color-card-bg: hsl(0, 0%, 100%);
  --color-inputs-bg: hsl(190, 35%, 94%);
  --color-border: hsl(190, 25%, 89%);

  /* Text */
  --color-txt: hsl(190, 25%, 25%); 
  --color-txt-muted: hsl(190, 15%, 50%);

/* Status (For Alerts)*/
  --color-danger: hsl(355, 78%, 55%);
  --color-danger-foreground: hsl(0, 0%, 98%);
  --color-success: hsl(156, 82%, 33%);
  --color-success-foreground: hsl(0, 0%, 98%);
  --color-warning: hsl(35, 91%, 55%);
  --color-warning-foreground: hsl(35, 91%, 15%);
}


.dark {
  /* Primary */
  --color-primary: hsl(190, 95%, 65%);
  --color-primary-foreground: hsl(190, 90%, 10%);

  /* Backgrounds */
  --color-bg: hsl(220, 15%, 8%);
  --color-card-bg: hsl(220, 15%, 14%);
  --color-inputs-bg: hsl(220, 15%, 19%);
  --color-border: hsl(220, 10%, 25%);

  /* Text */
  --color-txt: hsl(210, 17%, 89%);
  --color-txt-muted: hsl(210, 15%, 60%);

 /* Status (For Alerts)*/
  --color-danger: hsl(355, 80%, 65%);
  --color-danger-foreground: hsl(0, 0%, 98%);
  --color-success: hsl(156, 70%, 45%);
  --color-success-foreground: hsl(0, 0%, 98%);
  --color-warning: hsl(35, 100%, 65%);
  --color-warning-foreground: hsl(35, 91%, 15%);
}

@theme {
  /* remove default tailwind colors */
  --color-*: initial;

  /* Primary */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  /* Backgrounds */
  --color-bg: var(--color-bg);
  --color-card-bg: var(--color-card-bg);
  --color-inputs-bg: var(--color-inputs-bg);
  --color-border: var(--color-border);

  /* Text */
  --color-txt: var(--color-txt);
  --color-txt-muted: var(--color-txt-muted);

  /* Status (For Alerts)*/
  --color-danger: var(--color-danger);
  --color-danger-foreground: var(--color-danger-foreground);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);
}

@layer base {
  body {
    @apply bg-bg text-txt;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .card {
    @apply bg-card-bg rounded-2xl shadow-lg;
  }
}
